{
    "manifest": "1",
    "version": "0.1.0",
    "elements": [
        {
            "name": "My Hello World",
            "path": "elements/hello_world",
            "version": "1.0.0",
            "settings": {
                "config": {
                    "autopop": true
                },
                "properties": [
                    {
                        "name": "settings",
                        "label": "Settings",
                        "type": "group",
                        "properties": [
                            {
                                "name": "hwTextValue",
                                "label": "Display Value",
                                "type": "string",
                                "default": "Hello World",
                                "hidden": false,
                                "private": false,
                                "tooltip": "Change the text displayed in this element"
                            }
                        ]
                    }
                ]
            }
        }
    ]
}
