{
    "manifest": "1",
    "version": "{{WEEBLY_APP_VERSION}}",
    "locale": "en-us",
    "client_id": "{{WEEBLY_CLIENT_ID}}",
    "callback_url": "https://{{WEEBLY_OAUTH_CALLBACK_URL}}",
    "scopes": {{WEEBLY_APP_SCOPES}},
    "oauth_final_destination": "{{WEEBLY_OAUTH_FINAL_DESTINATION}}",
    "elements": [
        "name": "{{ELEMENT_NAME}}",
        "path": "{{ELEMENT_NAME_PATH}}",
        "version": "{{ELEMENT_NAME_VERSION}}",
        "settings": {
        },
        "properties": [
        ]
    ]
}
